.graphics-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.graphics-grid-wrapper {
    display: grid; 
}

.offset-table {
    overflow-y: scroll;
    height: 80vh;
}

.graphics-zoom { 
    position: fixed;
    bottom: 5px;
    right: 5px;

    > span > i:hover {
        color: hsl(0, 0%, 86%);
        user-select: none;
        cursor: pointer; 
    }
}

