.offset-table {
    overflow-y: scroll;
    height: 80vh;
    
    > table {
        color: hsl(0, 0%, 100%);
        background-color: transparent !important;
    }
}

.graphics-zoom { 
    position: fixed;
    bottom: 5px;
    right: 5px;

    > span > i:hover {
        color: hsl(0, 0%, 86%);
        user-select: none;
        cursor: pointer; 
    }
}

.canvas-holder {
    overflow: scroll;
}

.canvas-stretch {
    width: 100%;
    height: 100%;
}

.zoom-disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
}
