.hex-view-holder {
    font-family: monospace;
    overflow-y: hidden;
    height: 80vh;

    & table {
        width: 100%;

        > tbody > tr > td {
            cursor: pointer;
            user-select: none;
        }
    }

}