.hex-view-holder {
    overflow-y: hidden;
    height: 100%;

    & table {
        width: 100%;

        > tbody > tr > td {
            cursor: pointer;
            user-select: none;
        }
    }

}