.hex-view-holder {
    font-family: monospace;
    overflow-y: hidden;
    height: 79vh;

    & table {
        width: 100%;

        > tbody > tr > td {
            cursor: pointer;
            user-select: none;
            border: none;
            padding: 0.5em 0.0em !important;

            &.is-divider {
                border-right: 1px solid #dbdbdb;
            }

            &:nth-child(1) {
                padding-left: 0.5em !important;
            }

            &:nth-child(2) {
                padding-left: 0.5em !important;
            }

            &:nth-child(19) {
                padding-left: 0.5em !important;
            }
        }
    }

}