.menu-description {
    font-size: smaller;
}

.search-selector {
    cursor: pointer;
}

.dictionary-container {
    display: flex;
    flex-wrap: wrap;
}

.letter-box {
    margin: 1rem;
    font-size: large;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
        transition: 0.1s;
    }
}