.offset-table {
  overflow-y: scroll;
  height: 80vh; }
  .offset-table > table {
    color: white;
    background-color: transparent !important; }

.graphics-zoom {
  position: fixed;
  bottom: 5px;
  right: 5px; }
  .graphics-zoom > span > i:hover {
    color: #dbdbdb;
    user-select: none;
    cursor: pointer; }

.canvas-holder {
  overflow: scroll; }

.canvas-stretch {
  width: 100%;
  height: 100%; }

.zoom-disabled {
  opacity: 0.4;
  cursor: not-allowed !important; }
