.hex-view-holder {
  overflow-y: hidden;
  height: 80vh; }
  .hex-view-holder table {
    width: 100%; }
    .hex-view-holder table > tbody > tr > td {
      cursor: pointer;
      user-select: none; }
