$text: hsl(0, 0%, 71%);
$label-color: hsl(0, 0%, 71%);
$text-strong: hsl(0, 0%, 86%);

@import '../../node_modules/bulma/bulma.sass';

@import 'components/FileSelector';
@import 'components/HexView';
@import 'components/Strings';
@import 'components/Graphics';

html {
    background: #282c34;
    background-image: url('../images/background.png');
}

.centered-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-vertical {
    height: 80vh;
}