$text: hsl(0, 0%, 71%);
$label-color: hsl(0, 0%, 71%);

@import '../../node_modules/bulma/bulma.sass';

@import 'components/FileSelector';

html {
    background: #282c34;
}

::-webkit-scrollbar { 
    display: none; 
}

.main-section {
    overflow-y: auto;
    max-height: 90vh;
}
